@font-face {
	font-family: "Myriad Pro";
	src: 
		url("../fonts/Myriad Pro Regular.otf") format("otf");
}

.page {
	font-family: Roboto, Arial, sans-serif;
}

.list {
	padding: 0;
	margin: 0;

	list-style: none;
}

.container {
	max-width: 1190px;
	padding: 0 10px;
}

.page-header {
	margin-bottom: 74px;

	border-bottom: 2px solid #8a8a8a;
}

.page-header-top {
	height: 748px;
	padding-top: 19px;

	background: #818181 url("../img/bg.jpg") no-repeat top;
}

.logo {
	margin-bottom: 40px;
}

.test-title {
	margin-bottom: 4px;

	font-size: 18px;
	font-weight: 300;
	color: #131313;
}

.page-title {
	margin-bottom: 10px;

	font-size: 51px;
	font-weight: 700;
	color: #ffffff;
}

.page-descr {
	display: inline-block;
	width: 57.5%;
	padding: 3px 1%;
	
	font-size: 22px;
	text-align: center;
	color: #ffffff;

	background: #000000;
}

.page-descr::first-letter {
	color: #009de0;
}

.nav-item {
	padding: 36px 0 35px;
	margin-left: 3.57%;
}

.nav-item:first-child {
	margin: 0;
}

.nav-link {
	padding: 5px 0;

	font-size: 14px;
	font-weight: 500;
	color: #383838;
}

.nav-link-active {
	box-shadow: inset 0 -3px 0 #00aeef;
}

.offers {
	position: relative;

	margin-bottom: 72px;
}

.offers-title {	
	display: inline-block;
	padding: 0 75px;
	margin-bottom: 13px;

	font-size: 26px;
	font-weight: 400;
	line-height: 30px;
	color: #383838;

	background: #ffffff;
	letter-spacing: 0.7px;
}

.offers-title::before {
	content: "";
	position: absolute;
	top: 13px;
	left: 0;
	z-index: -1;

	width: 100%;
	height: 6px;

	border-top: 1px solid;
	border-bottom: 1px solid;
	border-image: linear-gradient(to right, transparent 0%, 
																					rgba(241, 241, 241, 1) 20%, 
																					rgba(228, 228, 228, 1) 50%, 
																					rgba(241, 241, 241, 1) 80%, 
																					transparent 100%);
	border-image-slice: 20%;
}

.offers-descr {
	margin-bottom: 45px;
	
	font-size: 16px;
	line-height: 16px;
	color: #8a8a8a;
}

.offers-list {
	display: flex;
	justify-content: space-between;
	padding: 0 0.5%;
}

@media (max-width: 692px) {
	.offers-list {
		flex-direction: column;
	}
}

.card {
	flex-basis: 30.5%;
	padding: 0 0.1%;
	margin-bottom: 40px;

	border: none;
}

.card-img {
	display: flex;
	align-self: center;
	width: 100px;
	height: 100px;
	margin-bottom: 35px;

	background-color: #383838;
	border-radius: 50%;
}

.card-body {
	align-self: center;
	padding: 0;
}

.offers-svg {
	margin: auto;
}

.svg-offers-icon {
	fill: #e4e4e4;
}

.offers-svg-puzzle {
	margin-top: 31%;
	margin-left: 30%;
}

.card-title {
	margin-bottom: 12px;

	font-size: 14px;
	color: #606060;
	text-transform: uppercase;

	letter-spacing: 0.4px;
}

.card-text {
	margin-top: auto;
	margin-bottom: 40px;

	font-size: 14px;
	color: #7a7a7a;
}

.btn-light {
	font-size: 10px;
	color: #8a8a8a;

	box-shadow: 0 0 0 1px #dedede;
}

.offers-btn {
	padding: 5px 11px 5px 9px;
}

.card:hover .card-img,
.card:hover .btn,
.offers-btn:focus {
	color: #e3e3e3;

	background-color: #00aeef;
	box-shadow: none;
}

.features {
	position: relative;

	background: #383838;
}

.features-container {
	display: flex;
	flex-direction: column;
	padding-right: 10px;

	background: url("../img/tablet-width.png"), url("../img/tablet-height.png");
	background-repeat: no-repeat;
	background-position: 74.3% 100%, 99% 100%;
}

@media (max-width: 1040px) {
	.features-container {
		background: url("../img/tablet-height.png") no-repeat 99% 100%;
	}
}

@media (max-width: 756px) {
	.features-container {
		background: none;
	}
}

.features-key-wrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 56px;	
}

.features-key {
	position: relative;

	width: 40px;
	height: 40px;
	margin-top: -20px;

	background: #00aeef;
	border-radius: 5px;

	transform: rotate(45deg);
}

.features-key::after {
	content: "";
	position: absolute;

	width: 40px;
	height: 40px;

	background: url("../img/svg/icon_key.svg") no-repeat center;
	background-size: 22px 21px;

	transform: rotate(-45deg);
}

.features-title {
	position: relative;
	
	align-self: center;
	margin-bottom: 16px;

	font-size: 26px;
	font-weight: 700;
	line-height: 20px;
	color: #e4e4e4;

	letter-spacing: 1px;
}

.features-title::before,
.features-title::after {
	content: "";
	position: absolute;
	top: 5px;

	width: 12px;
	height: 12px;

	background: #00aeef;
	border-radius: 20%;

	transform: rotate(45deg);
}

.features-title::before {
	left: -25%;

	box-shadow: 
		-6px 6px 0 -1.5px rgba(0, 174, 239, 0.7),
		-12px 12px 0 -2.5px rgba(0, 174, 239, 0.4);
}

.features-title::after {
	right: -25%;

	box-shadow: 
		6px -6px 0 -1.4px rgba(0, 174, 239, 0.7),
		12px -12px 0 -2.5px rgba(0, 174, 239, 0.4);
}

.blue-text {
	color: #00aeef;
}

.features-descr {
	align-self: center;
	margin-bottom: 87px;

	font-family: "Myriad Pro", sans-serif;
	font-size: 15px;
	color: #606060;
}

.features-list {
	padding-bottom: 40px;
}

.features-item {
	position: relative;

	display: block;
	padding-left: 90px;
	margin-bottom: 64px;
}

.features-item:last-child {
	margin-bottom: 0;
}

.features-item-title {
	margin-bottom: 15px;

	font-size: 14px;
	font-weight: 700;
	color: #e4e4e4;

	letter-spacing: 0.44px;
}

.features-item-text {
	max-width: 320px;
	padding-right: 15px;
	margin: 0;

	font-size: 15px;
	color: #7a7a7a;
}

.features-item::before {
	content: "";
	position: absolute;
	top: 6px;
}

@media (max-width: 360px) {
	.features-item {
		padding-left: 20px;

		text-align: center;
	}
	.features-item::before {
		display: none;
	}
}

.features-item-responsive::before {
	left: 12px;	

	width: 42px;
	height: 37px;

	background: url("../img/svg/icon_desktop.svg") no-repeat;
	background-size: 44px 39px;
}

.features-item-marketing::before {
	left: 10px;

	width: 43px;
	height: 41px;

	background: url("../img/svg/icon_puzzle_alt.svg") no-repeat;
	background-size: 43px 41px;
}

.features-item-customers::before {
	top: 4px;
	left: 14px;

	width: 45px;
	height: 45px;

	background: url("../img/svg/icon_star.svg") no-repeat;
	background-size: 41px 41px;
}
